annotated-types==0.7.0
asgiref==3.10.0
cffi==2.0.0
cryptography==46.0.2
Django==5.2.7
django-smtp-alternative==1.0.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.11
inflection==0.5.1
jwt==1.4.0
packaging==25.0
pillow==11.3.0
pycparser==2.23
pydantic==2.12.0
pydantic-settings==2.11.0
pydantic_core==2.41.1
PyJWT==2.10.1
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.3
rest-framework-simplejwt==0.0.2
sqlparse==0.5.3
typing-inspection==0.4.2
typing_extensions==4.15.0
uritemplate==4.2.0
